<tr>
    <td><a href="{{#url}}/company/{{id}}{{/url}}">{{name}}</a></td>
    <td>{{address.city}}</td>
    <td>{{address.state}}</td>
    <td>{{address.zipcode}}</td>
    <td>
        <a href="{{#url}}/company/{{id}}/employee{{/url}}" class="btn btn-info" role="button">Employees</a>
        <a href="{{#url}}/company/{{id}}/client{{/url}}" class="btn btn-default" role="button">Clients</a>
    </td>
</tr>
