{{{default-edit-fields}}}
<div class="form-group">
    <label for="type-{{name}}" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-9">
        <select name="type" id="type-{{name}}" class="form-control">
            <option value="text" {{#compare attr.type "text"}}selected{{/compare}}>Text</option>
            <option value="date" {{#compare attr.type "date"}}selected{{/compare}}>Date</option>
            <option value="datetime-local" {{#compare attr.type "datetime-local"}}selected{{/compare}}>Date/Time</option>
            <option value="time" {{#compare attr.type "time"}}selected{{/compare}}>Time</option>
            <option value="password" {{#compare attr.type "password"}}selected{{/compare}}>Password</option>
            <option value="number" {{#compare attr.type "number"}}selected{{/compare}}>Number</option>
            <option value="color" {{#compare attr.type "color"}}selected{{/compare}}>Color</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label for="maxlength-{{name}}" class="col-sm-2 control-label">Max Length</label>
    <div class="col-sm-2">
        <input name="maxlength" id="maxlength-{{name}}" type="number" class="form-control" placeholder="" size="5" value="{{attr.maxlength}}">
    </div>
</div>