{{#compare attr.labelAlign "horizontal"}}
    <div class="ctrl-group row">
        <label for="{{id}}-{{name}}" class="col-sm-2 control-label">{{attr.label}}</label>
        <div class="col-sm-10">
            {{{ctrl-hbs 'ClientField' 'render-fields'}}}
        </div>
    </div>
{{/compare}}
{{#compare attr.labelAlign "vertical"}}
    <div class="ctrl-group row">
        <div class="form-vertical">
            <label for="{{id}}-{{name}}">{{attr.label}}</label>
            {{{ctrl-hbs 'ClientField' 'render-fields'}}}
        </div>
    </div>
{{/compare}}
{{#compare attr.labelAlign "none"}}
    {{{ctrl-hbs 'ClientField' 'render-fields'}}}
{{/compare}}