<div class="grid-stack-item" data-ctrl-name="{{name}}" data-gs-x="{{x}}" data-gs-y="{{y}}" data-gs-width="{{width}}" data-gs-height="{{height}}">
    <div class="grid-stack-item-content"></div>
    {{#if editable}}<div class="grid-stack-item-edit"><a role="button" class="edit" aria-label="Edit"><span class="fa fa-pencil-square-o fa-1" aria-hidden="true">&nbsp;</span></a></div>{{/if}}
</div>
