{{#compare attr.labelAlign "horizontal"}}
<div class="form-group">
    <label for="{{attr.name}}-{{id}}" class="col-sm-2 control-label">{{attr.label}}</label>
    <div class="col-sm-10 form-control-wrapper">
        <textarea class="form-control" name="{{attr.name}}" id="{{attr.name}}-{{id}}" placeholder="{{attr.placeholder}}"></textarea>
    </div>
</div>
{{/compare}}
{{#compare attr.labelAlign "vertical"}}
<div class="form-vertical">
    <label for="{{attr.name}}">{{attr.label}}</label>
    <textarea class="form-control" name="{{attr.name}}" id="{{attr.name}}-{{id}}" placeholder="{{attr.placeholder}}"></textarea>
</div>
{{/compare}}
{{#compare attr.labelAlign "none"}}
<textarea class="form-control" name="{{attr.name}}" id="{{attr.name}}-{{id}}" placeholder="{{attr.placeholder}}"></textarea>
{{/compare}}