<tr>
    <td><a href="{{#url}}/client/{{id}}{{/url}}">{{id}}</a></td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{formatDate dateOfBirth day="numeric" month="long" year="numeric"}}</td>
    <td>{{ssn}}</td>
    <td><a href="{{#url}}/client/{{id}}/service{{/url}}" class="btn btn-sm btn-info" role="button">Services</a></td>
</tr>
