<div class="form-group">
    <label for="{{name}}" class="col-sm-2 control-label">{{label}}</label>
    <div class="col-sm-10 form-control-wrapper">
        <textarea class="form-control" name="{{label}}" id="{{label}}" placeholder="{{placeholder}}"></textarea>
    </div>
</div>
