<div class="form-group">
    <label for="{{name}}" class="col-sm-2 control-label">{{label}}</label>
    <div class="col-sm-10">
        <input name="{{name}}" id="{{name}}" type="text" class="form-control" placeholder="{{placeholder}}" maxlength="{{maxlength}}">
    </div>
</div>