<div class="form-group">
    <label for="name-{{id}}" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-8">
        <input name="name-{{id}}" id="name-{{id}}" type="text" class="form-control" placeholder="Field Name" value="{{name}}">
    </div>
</div>
<div class="form-group">
    <label for="label-{{id}}" class="col-sm-2 control-label">Label</label>
    <div class="col-sm-8">
        <div class="form-group inner-form-group">
            <div class="col-sm-5">
                <input name="label-{{id}}" id="label-{{id}}" type="text" class="form-control" placeholder="Label Text" value="{{label}}">
            </div>
            <div class="col-sm-5">
                <select name="labelAlign-{{id}}" id="labelAlign-{{id}}" class="form-control">
                    <option value="vertical">Vertical</option>
                    <option value="horizontal">Horizontal</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="placeholder-{{id}}" class="col-sm-2 control-label">Placeholder</label>
    <div class="col-sm-8">
        <input name="placeholder-{{id}}" id="placeholder-{{id}}" type="text" class="form-control" placeholder="Placeholder Text" value="{{placeholder}}">
    </div>
</div>
<div class="form-group">
    <label for="maxlength-{{id}}" class="col-sm-2 control-label">Max Length</label>
    <div class="col-sm-2">
        <input name="maxlength-{{id}}" id="maxlength-{{id}}" type="number" class="form-control" placeholder="" size="5" value="{{maxlength}}">
    </div>
</div>
