<div class="form-group">
    <label for="name-{{id}}" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-9">
        <input name="name-{{id}}" id="name-{{id}}" type="text" class="form-control" placeholder="Field Name" value="{{name}}">
    </div>
</div>
<div class="form-group">
    <label for="label-{{id}}" class="col-sm-2 control-label">Label</label>
    <div class="col-sm-9">
        <div class="form-group inner-form-group">
            <div class="col-sm-7">
                <input name="label-{{id}}" id="label-{{id}}" type="text" class="form-control" placeholder="Label Text" value="{{label}}">
            </div>
            <div class="col-sm-5">
                <select name="labelAlign-{{id}}" id="labelAlign-{{id}}" class="form-control">
                    <option value="horizontal">Horizontal</option>
                    <option value="vertical">Vertical</option>
                </select>
            </div>
        </div>
    </div>
</div>
