<tr>
    <td><a href="{{#url}}/formdef/{{id}}{{/url}}">{{id}}</a></td>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td><!--<a href="{{#url}}/formdef/{{id}}{{/url}}" class="btn btn-info" role="button">Create</a>//--></td>
</tr>
