<tr>
    <td><a href="{{#url}}/company/{{client.company}}/client/{{client.id}}/service/{{id}}{{/url}}">{{id}}</a></td>
    <td>{{employee.name}}</td>
    <td>{{formatDate scheduled day="numeric" month="long" year="numeric"}} {{formatTime scheduled hour="numeric" minute="numeric"}}</td>
    <td>{{formatDate arrived day="numeric" month="long" year="numeric"}} {{formatTime arrived hour="numeric" minute="numeric"}}</td>
</tr>
