<tr>
    <td><a href="{{#url}}/company/{{company.id}}{{/url}}">{{company.name}}</a></td>
    <td><a href="{{#url}}/employee/{{id}}{{/url}}">{{name}}</a></td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{role}}</td>
</tr>
