<tr>
    <td><a href="{{#url}}/employee/{{id}}{{/url}}">{{id}}</a></td>
    <td><a href="{{#url}}/company/{{company}}{{/url}}">{{company}}</a></td>
    <td>{{name}}</td>
    <td>{{firstName}}</td>
    <td>{{lastName}}</td>
    <td>{{role}}</td>
</tr>
