{{#compare attr.labelAlign "horizontal"}}
<div class="form-group">
    <label for="{{name}}-{{id}}" class="col-sm-2 control-label">{{attr.label}}</label>
    <div class="col-sm-10">
        <input name="{{id}}-{{name}}" id="{{id}}-{{name}}" class="form-control" placeholder="{{attr.placeholder}}"/>
    </div>
</div>
{{/compare}}
{{#compare attr.labelAlign "vertical"}}
<div class="form-vertical">
    <label for="{{name}}-{{id}}">{{attr.label}}</label>
    <input name="{{id}}-{{name}}" id="{{id}}-{{name}}" class="form-control" placeholder="{{attr.placeholder}}"/>
</div>
{{/compare}}
{{#compare attr.labelAlign "none"}}
<input name="{{id}}-{{name}}" id="{{id}}-{{name}}" class="form-control" placeholder="{{attr.placeholder}}"/>
{{/compare}}