<div class="form-group">
    <label for="name-{{id}}" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-9">
        <input name="name-{{id}}" id="name-{{id}}" type="text" class="form-control" placeholder="Field Name" value="{{name}}">
    </div>
</div>
<div class="form-group">
    <label for="label-{{id}}" class="col-sm-2 control-label">Label</label>
    <div class="col-sm-9">
        <input name="label-{{id}}" id="label-{{id}}" type="text" class="form-control" placeholder="Label Text" value="{{label}}">
    </div>
</div>
<div class="form-group">
    <label for="placeholder-{{id}}" class="col-sm-2 control-label">Placeholder</label>
    <div class="col-sm-9">
        <input name="placeholder-{{id}}" id="placeholder-{{id}}" type="text" class="form-control" placeholder="Placeholder Text" value="{{placeholder}}">
    </div>
</div>