{{#compare attr.labelAlign "horizontal"}}
<div class="form-group">
    <label for="{{name}}" class="col-sm-2 control-label">{{attr.label}}</label>
    <div class="col-sm-10">
        <input name="{{id}}-{{name}}" id="{{id}}-{{name}}" type="text" class="form-control" placeholder="(000) 000-0000">
    </div>
</div>
{{/compare}}
{{#compare labelAlign "vertical"}}
<div class="form-vertical">
    <label for="{{name}}">{{attr.label}}</label>
    <input name="{{id}}-{{name}}" id="{{id}}-{{name}}" type="text" class="form-control" placeholder="(000) 000-0000">
</div>
{{/compare}}