{{#compare labelAlign "horizontal"}}
<div class="form-group">
    <label for="{{name}}" class="col-sm-2 control-label">{{label}}</label>
    <div class="col-sm-10">
        <input name="{{name}}" id="{{name}}-{{id}}" type="text" class="form-control" placeholder="(000) 000-0000">
    </div>
</div>
{{/compare}}
{{#compare labelAlign "vertical"}}
<div class="form-vertical">
    <label for="{{name}}">{{label}}</label>
    <input name="{{name}}" id="{{name}}-{{id}}" type="text" class="form-control" placeholder="(000) 000-0000">
</div>
{{/compare}}