{{#compare labelAlign "horizontal"}}
<div class="form-group">
    <label for="{{name}}" class="col-sm-2 control-label">{{label}}</label>
    <div class="col-sm-10">
        <select name="{{name}}" id="{{name}}-{{id}}" class="form-control">
            {{#if placeholder}}<option value="" disabled selected>{{placeholder}}</option>{{/if}}
        </select>
    </div>
</div>
{{/compare}}
{{#compare labelAlign "vertical"}}
<div class="form-vertical">
    <label for="{{name}}">{{label}}</label>
    <select name="{{name}}" id="{{name}}-{{id}}" class="form-control">
        {{#if placeholder}}<option value="" disabled selected>{{placeholder}}</option>{{/if}}
    </select>
</div>
{{/compare}}
{{#compare labelAlign "none"}}
<select name="{{name}}" id="{{name}}-{{id}}" class="form-control">
    {{#if placeholder}}<option value="" disabled selected>{{placeholder}}</option>{{/if}}
</select>
{{/compare}}

<script type="text/javascript">
    function render_{{id}}(ctrlId, ctrlType, ctrlAttr) {
        $.ajax({
            url: URL_PREFIX + 'company',
            dataType: 'json',
            success: function(response) {
                let field = getCtrlRenderField(ctrlId, ctrlAttr.name);
                response.data.forEach(function(company) {
                    field.append('<option value="' + company.id + '">' + company.name + '</option>');
                });
            }
        })
    }
</script>
