<tr>
    <td><a href="{{#url}}/formDef/{{id}}{{/url}}">{{id}}</a></td>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td><a href="{{#url}}/form/create/{{id}}{{/url}}" class="btn btn-info btn-sm" role="button">Create</a></td>
</tr>
