<tr>
    <td><a href="{{#url}}/formDef/{{id}}{{/url}}">{{id}}</a></td>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>
        <a href="{{#url}}/form/{{id}}/result/create{{/url}}" class="btn btn-success btn-sm" role="button">Create</a>
        <a href="{{#url}}/form/{{id}}/result{{/url}}" class="btn btn-default btn-sm" role="button">Results</a>
    </td>
</tr>
