<tr>
    <td><a href="{{#url}}/form/{{definition}}/result/{{id}}{{/url}}">{{id}}</a></td>
    <td>{{formatTime created}}</td>
    <td>{{formatRelative updated}}</td>
    <td>
        <a href="{{#url}}/form/{{definition}}/result/{{id}}/delete{{/url}}" class="btn btn-danger btn-sm" role="button">Delete</a>
    </td>
</tr>
