<div class="form-group">
    <label for="text-{{id}}" class="col-sm-2 control-label">Text</label>
    <div class="col-sm-9">
        <input name="text" id="text-{{id}}" type="text" class="form-control" placeholder="Header Text" value="{{text}}">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Size</label>
    <div class="col-sm-9">
        <label class="radio-inline"><input type="radio" name="size" value="1"> H1</label>
        <label class="radio-inline"><input type="radio" name="size" value="2"> H2</label>
        <label class="radio-inline"><input type="radio" name="size" value="3"> H3</label>
        <label class="radio-inline"><input type="radio" name="size" value="4"> H4</label>
        <label class="radio-inline"><input type="radio" name="size" value="5"> H5</label>
    </div>
</div>

<script type="text/javascript">

    function load_{{id}}(ctrlId, ctrlType, ctrlAttr) {
        // We could do this using a #cond on the input tag but this seemed like more fun
        var sizeField = getCtrlField(ctrlId, 'size');
        if (!ctrlAttr.size) {
            sizeField.filter("[value='1']").prop('checked', true);
        } else {
            sizeField.filter("[value='" + ctrlAttr.size + "']").prop('checked, true');
        }
    }

    var heights = {'1': 3, '2': 3, '3': 3, '4': 2, '5': 2};
    function append_{{id}}(ctrlId, ctrlType, ctrlAttr) {
        var height = heights[ctrlAttr.size];
        return appendCtrl(ctrlId, ctrlType, ctrlAttr, 0, 50, 20, height)
    }
</script>
